$white: #fff;
$white-1: #F7F7FC;

$black: #000;
$blue: #2196f3;

$blue-1: #50ABFF;
$blue-bg: rgba(80, 171, 255, 0.1);

$gray: #666666;
$gray-1: #5e5e5e;
$gray-2: #EBEBEB;
$gray-3: #A4A4AA;
$gray-light: #d7dae2;

$green: #5FD866;
$green-bg: rgba(95, 216, 102, 0.1);

$violet: #4E46B4;

$red: red;
$yellow: #ffe15d;


